@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #023047;
		--foreground: #c5ff95;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
}

.circle {
	--circle-size: 40px;
	position: fixed;
	height: var(--circle-size);
	width: var(--circle-size);
	border: 1px solid white;
	border-radius: 100%;
	top: calc(var(--circle-size) / 2 * -1);
	left: calc(var(--circle-size) / 2 * -1);
	pointer-events: none;
}

.dot {
	--dot-size: 8px;
	position: fixed;
	height: var(--dot-size);
	width: var(--dot-size);
	background: white;
	border-radius: 100%;
	top: calc(var(--dot-size) / 2 * -1);
	left: calc(var(--dot-size) / 2 * -1);
	pointer-events: none;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}

	body {
		@apply font-primary;
	}
}
